body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  background: linear-gradient(rgba(176, 196, 222, 0.3), white);
  font: 14px/1.5 "Helvetica Neue";
}

html {
  overflow-x: hidden;
}